<div class="table-responsive">
    <table class="table table-bordered border-primary table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">URL</th>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <%= const count=0;
                
            %>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>

        </tbody>

    </table>
</div>