<%- include('layout/header') %>

    <main class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome to the home page.
                    <br>
                    <h3>

                        If you are admin, please use the button on the navbar to get started.
                    </h3>
                </h1>

                <%- locals.pageContent %>
            </div>
        </div>
    </main>

    <%- include('layout/footer') %>