<div class="container">
    <form class="p-4 " id="loginForm">
        <div class="mb-3">
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="userNameField" name="username" aria-describedby="textHelp"
                required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordField" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script type="module" src="/login/login.js"></script>